<br class="clear"/>
<fieldset>
	<legend>{{ packageType | capitalize }} : {{ packageName }}</legend>
	{{ form_row(form) }}
	
	{% if packageHelpMessage %}
	<div class="row">
		<div class="col-lg-9 col-lg-push-3">
			<span class="help-block">{{ packageHelpMessage | raw }}</span>
		</div>
	</div>
	{% endif %}
</fieldset>
