.icon-menu-responsive{
    width:42px;
    height:42px;
    margin:auto;
    display:none;
    cursor:pointer !important;
}

@media screen and (min-width:992px) and (max-width: 1205px)
{
    .texte-lien-menu, .dropdown{
        display:none;
    }
    img.logotop {
        width:45px;
    }
    .leftcol {
        min-width:50px !important;
        max-width:50px !important;
    }
    .lien-menu{
        padding-left: 17px;
        padding-right: none;
    }
}


@media screen and (max-width:992px) 
{
    .leftcol{
        max-width:none;
        display:none;
    }
    .menu-leftcol{
        width:42px;
        height:42px;
        float:left;
        margin:12px;
        cursor:pointer !important;
    }
    .icon-menu-responsive{
        display: block;
        cursor:pointer !important;
    }
}






