/***************************
   IMAGE
***************************/
.gallery {
	margin: 0px !important;
	padding: 0px !important;
}

.picture-gallery {
	width: 20%;
	height: 90px;
	overflow: hidden;
	float: left;
}

.gallery-content {
	overflow: auto;
	margin-bottom: 15px;
}

.picture-horizontal, .picture-vertical {
	position: relative;
	max-width: none !important;
}

.picture-horizontal {
	height: 90px;
	width: auto;
}

.picture-vertical {
	width: 90px;
	height: auto;
}

.photo-full {
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
	margin: auto;
	position: absolute;
	padding-top: 60px;
	padding-bottom: 40px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.photo-center {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

/***************************
   THUMBNAILS
***************************/

.thumbnails-left {
	 margin:0  !important; 
	 margin-right:10px  !important;
}
