{#
Keosu is an open source CMS for mobile app
Copyright (C) 2014  Vincent Le Borgne, Pockeit

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}
{% extends 'KeosuCoreBundle:MainViews:page.html.twig' %}

{% block title %}{% trans %}Manage pages{% endtrans %}{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<fieldset>
				<legend><span class="glyphicon glyphicon-file icon-menu"></span>{% trans %}Manage Pages{% endtrans %}</legend>

				<a class="btn btn-success" href="{{ path('keosu_core_views_page_manage_add') }}"><span class="glyphicon glyphicon-plus-sign icon-success"></span>{% trans %}Add new page{% endtrans %}</a>

				<table class="table table-striped table-hover">
					<thead>
					<tr>
						<th>{% trans %}is index{% endtrans %}</th>
						<th>{% trans %}page name{% endtrans %}</th>
						<th>{% trans %}page template{% endtrans %}</th>
						<th colspan="2"></th>
					</tr>
					</thead>
					<tbody>
					{% for page in pages %}
						<tr>
							<td>
								{% if page.isMain %}
									<span class="glyphicon glyphicon-hand-right"></span>
								{% endif %}
							</td>
							<td>{{ page.name }}</td>
							<td>{{ page.templateId }}</td>
							<td>
								{{ includePanelPage(page.id) }}
							</td>
						</tr>
					{% else %}
						<p>{% trans %}No pages{% endtrans %}</p>
					{% endfor %}
					</tbody>
					<tfoot>
					<tr>
						<th>{% trans %}is index{% endtrans %}</th>
						<th>{% trans %}page name{% endtrans %}</th>
						<th>{% trans %}page template{% endtrans %}</th>
						<th></th>
					</tr>
					</tfoot>
				</table>
			</fieldset>
			</ul>
		</div>
	</div>
{% endblock %}
