<!-- Warning : this template is used in private app only for authentication -->
<html ng-app="keosuApp">
<div ng_controller="main_Controller">
	<nav class="navbar navbar-default navbar-fixed-top classic-navbar"
		role="banner">
		<a href="index.html">
			<h2 class="title">{{appName}}</h2>
		</a> <span
			us-spinner="{lines: 17, length: 0, width: 2, radius: 10, corners: 1, rotate: 0, direction: 1, color: '#FFFFFF', speed: 1, trail: 60, shadow: false, hwaccel: false, className: 'spinner', zIndex: 1030}"
			spinner-key="spinner" class="navbar navbar-default navbar-fixed-top"
			style="position: fixed; top: 50%; width: 0px; left: 50%;"></span>
	</nav>

	<div class="content">
		<div class="container-fluid">
			<div id="body" class="zone">&nbsp;</div>
		</div>
	</div>
</div>
