<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.keosu.demo" version="1" versionCode="1">
  <name>Aplli-test</name>
  <description>Keosu demo</description>
  <author href="http://keosu.com" email="mail@localhost.com">keosu team</author>
  <preference name="android-build-tool" value="gradle"/>
  <plugin name="phonegap-plugin-push" spec="~1.4.5" source="npm"/>
  <plugin name="cordova-plugin-device"/>
  <plugin name="cordova-plugin-device-orientation"/>
  <plugin name="cordova-plugin-dialogs"/>
  <plugin name="cordova-plugin-network-information"/>
  <plugin name="cordova-plugin-whitelist"/>
  <preference name="permissions" value="none"/>
  <preference name="phonegap-version" value="cli-6.3.0"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="Fullscreen" value="true"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="Show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="false"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="android-installLocation" value="auto"/>
  <preference name="disallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <platform name="ios">
    <icon src="res/icons/ios/iconI57.png" width="57" height="57"/>
    <icon src="res/icons/ios/iconI72.png" width="72" height="72"/>
    <icon src="res/icons/ios/iconI114.png" width="114" height="114"/>
    <icon src="res/icons/ios/iconI120.png" width="120" height="120"/>
    <icon src="res/icons/ios/iconI76.png" width="76" height="76"/>
    <icon src="res/icons/ios/iconI152.png" width="152" height="152"/>
    <icon src="res/icons/ios/iconI144.png" width="144" height="144"/>
    <splash src="res/splashscreens/ios/splashscreenI320x480.png" width="320" height="480"/>
    <splash src="res/splashscreens/ios/splashscreenI640x960.png" width="640" height="960"/>
    <splash src="res/splashscreens/ios/splashscreenI640x1136.png" width="640" height="1136"/>
    <splash src="res/splashscreens/ios/splashscreenI1024x768.png" width="1024" height="768"/>
    <splash src="res/splashscreens/ios/splashscreenI768x1024.png" width="768" height="1024"/>
    <splash src="res/splashscreens/ios/splashscreenI2048x1536.png" width="2048" height="1536"/>
    <splash src="res/splashscreens/ios/splashscreenI1536x2048.png" width="1536" height="2048"/>
    <splash src="res/splashscreens/ios/splashscreenI750x1334.png" width="750" height="1334"/>
    <splash src="res/splashscreens/ios/splashscreenI1242x2208.png" width="1242" height="2208"/>
    <splash src="res/splashscreens/ios/splashscreenI2208x1242.png" width="2208" height="1242"/>
  </platform>
  <platform name="android">
    <icon src="res/icons/android/iconA36.png" qualifier="ldpi"/>
    <icon src="res/icons/android/iconA48.png" qualifier="mdpi"/>
    <icon src="res/icons/android/iconA72.png" qualifier="hdpi"/>
    <icon src="res/icons/android/iconA96.png" qualifier="xhdpi"/>
    <splash src="res/splashscreens/android/splashscreenA320x436.png" qualifier="ldpi"/>
    <splash src="res/splashscreens/android/splashscreenA320x470.png" qualifier="mdpi"/>
    <splash src="res/splashscreens/android/splashscreenA640x480.png" qualifier="hdpi"/>
    <splash src="res/splashscreens/android/splashscreenA960x720.png" qualifier="xhdpi"/>
  </platform>
  <platform name="winphone">
    <icon src="res/icons/winphone/icon.png"/>
    <icon src="res/icons/winphone/tileicon.png" role="background"/>
    <icon src="res/icons/winphone/Square44x44Logo.scale-100.png" width="44" height="44"/>
    <icon src="res/icons/winphone/Square44x44Logo.scale-240.png" width="106" height="106"/>
    <icon src="res/icons/winphone/Square150x150Logo.scale-100.png" width="150" height="150"/>
    <icon src="res/icons/winphone/Square150x150Logo.scale-240.png" width="360" height="360"/>
    <icon src="res/icons/winphone/Square71x71Logo.scale-100.png" width="71" height="71"/>
    <icon src="res/icons/winphone/Square71x71Logo.scale-240.png" width="170" height="170"/>
    <splash src="res/splashscreens/winphone/splash.jpg"/>
    <splash src="res/splashscreens/winphone/SplashScreenPhone.scale-240.png" width="1152" height="1920"/>
  </platform>
  <access origin="*"/>
</widget>
