<nav class="navbar navbar-default navbar-fixed-top classic-navbar"
	role="banner">
	<a href="index.html">
		<h2 class="title">{{appName}}</h2>
	</a> <span
		us-spinner="{lines: 17, length: 0, width: 2, radius: 10, corners: 1, rotate: 0, direction: 1, color: '#FFFFFF', speed: 1, trail: 60, shadow: false, hwaccel: false, className: 'spinner', zIndex: 1030}"
		spinner-start-active="true" spinner-key="spinner" class="navbar navbar-default navbar-fixed-top"
		style="position: fixed; top: 50%; width: 0px; left: 50%;"></span>
</nav>

<div class="content">
	<div class="container-fluid">
		<div id="top-body" class="zone">&nbsp;</div>
		<div id="bottom-body" class="zone">&nbsp;</div>
	</div>
</div>
<div class="offline">
	<div ng-show={{offline}} >Network unreachable</div>
</div>
<footer id="menu" class="zone classic-menu navbar-fixed-bottom">&nbsp;
</footer>
