<nav class="navbar navbar-default navbar-fixed-top classic-navbar" role="banner">
	<div class="backButton" ng-click="back()" ng-show="closeButton"></div>
	<div>
		<h2 class="title">{{::appName}}</h2>
	</div>
</nav>

<div class="content">
	<div class="container-fluid">
		<div id="top-body" class="zone">&nbsp;</div>
		<div id="bottom-body" class="zone">&nbsp;</div>
	</div>
</div>

<div class="offline">
	<div ng-show={{offline}} >Network unreachable</div>
</div>

<footer id="menu" class="zone classic-menu navbar-fixed-bottom">
	&nbsp;
</footer>
