<nav class="navbar navbar-default navbar-fixed-top classic-navbar" role="banner">
<span ng-click="previous()" ng-show="previousButton" class="glyphicon glyphicon-remove animated fadeIn .btn back" aria-hidden="true"></span>

<!--<button ng-click="previous()" ng-show="previousButton" class="prev btn btn-default btn-page pull-left animated fadeIn back">Return</button>
<a ng-click="previous()" ng-show="previousButton"  class="back">Return</a>-->

	<a href="index.html">
		<h2 class="title">{{appName}}</h2>
	</a>
</nav>

<div class="content">
	<div class="container-fluid">
		<div id="body" class="zone">&nbsp;</div>
	</div>
</div>

<div class="offline">
	<div ng-show={{offline}} >Network unreachable</div>
</div>

<footer id="menu" class="zone classic-menu navbar-fixed-bottom">
	&nbsp;
</footer>
 