<nav class="navbar navbar-default navbar-fixed-top classic-navbar" role="banner">
	<div class="header header-slide hamburger-menu" ng-click="menuOpen =!menuOpen" ng-class="{'open' : menuOpen}">
		<div id="nav-icon1" ng-class="{'openned-icon' : menuOpen}">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div class="title"><b>{{::appName}}</b></div>
</nav>
<div class="block-button">
	<div class="" ng-click="back()" ng-show="closeButton">
		<span class="glyphicon glyphicon-remove animated fadeIn btn" aria-hidden="true"></span>
	</div>
</div>
<div style="overflow-x: hidden"></div>
<div class="slide-menu" ng-class="{'open' : menuOpen}">
	<div id="menu" class="zone">&nbsp;</div>
</div>
<div>
	<div class="container-fluid">
		<div id="body" class="zone">&nbsp;</div>
	</div>
</div>

