<nav class="navbar navbar-default navbar-fixed-top classic-navbar" role="banner">
	<div class="header">
		<div class="header header-slide" ng-click="menuOpen =!menuOpen" ng-class="{'open' : menuOpen}">
            <div class="icon-menu2"></div>
        </div>
		<div class="title"><b>{{::appName}}</b></div>
    </div>
</nav>
<div class="block-button">
	<div class="" ng-click="back()" ng-show="closeButton">
		<span class="glyphicon glyphicon-remove animated fadeIn btn" aria-hidden="true"></span>
	</div>
</div>
<div style="overflow-x: hidden"></div>
<div class="slide-menu" ng-class="{'open' : menuOpen}">
	<div id="menu" class="zone">&nbsp;</div>
</div>
<div class="">
	<div class="container-fluid">
		<div id="body" class="zone">&nbsp;</div>
	</div>
</div>

