<html ng-app="keosuApp">
<span
	us-spinner="{lines: 17, length: 0, width: 2, radius: 10, corners: 1, rotate: 0, direction: 1, color: '#FFFFFF', speed: 1, trail: 60, shadow: false, hwaccel: false, className: 'spinner', zIndex: 1030}"
	spinner-key="spinner" class="navbar navbar-default navbar-fixed-top"
	style="position: fixed; top: 50%; width: 0px; left: 55%;"></span>
<!--
<div class="slide-menu" ng-class="{'open' : menuOpen}">
	<div id="menu" class="zone">&nbsp;</div>
	<img src="theme/img/icon-menu.png" height="32px" width="64px"
		class="slide-img" ng-click="menuOpen = !menuOpen"
		ng-class="{'open' : menuOpen}" />
-->

<div class="slide-menu" ng-class="{'open' : menuOpen}">
	<div id="menu" class="zone">&nbsp;</div>c2s
	<img src="theme/img/icon-menu.png" height="32px" width="64px"
		class="slide-img" ng-click="menuOpen = !menuOpen"
		ng-class="{'open' : menuOpen}" />


		<ul>
			<li><a href="#">Votre activite</a></li>
			<li><a href="#">Bilan</a></li>
			<li><a href="#">Le saviez-vous?</a></li>
			<li><a href="#">Mes solutions</a></li>
			<li><a href="#">Profil</a></li>
			<li><a href="#">Synchronisation</a></li>
			<li><a href="#">Quitter</a></li>
		</ul>





</div>

<div class="content slide-content">
	<div c lass="container-fluid">
		<div id="body" class="zone">&nbsp;</div>
	</div>
</div>