@font-face {
    font-family: 'quicksand';
    src: url('polices/quicksand/quicksand-regular.eot') format('eot'),
         url('polices/quicksand/quicksand-regular.woff') format('woff'),
         url('polices/quicksand/quicksand-regular.ttf') format('truetype'),
         url('polices/quicksand/quicksand-regular.svg') format('svg');
}

@font-face {
    font-family: 'amatic';
    src: url('polices/amatic/amatic-bold.eot') format('eot'),
         url('polices/amatic/amatic-bold.woff') format('woff'),
         url('polices/amatic/amatic-bold.ttf') format('truetype'),
         url('polices/amatic/amatic-bold.svg') format('svg');
}
/***************************
   GLOBAL
***************************/
body {
	background-color: #fbfbfb !important;
	color: #000000 !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	word-wrap: break-word;
}

hr {
	margin-top: 1px;
	margin-bottom: 1px;
}


.content {
	margin-top: 85px;
	margin-bottom: 45px;
}

.content-right {
	padding-left: 16.666666666666664%;
}

.content-left {
	padding-right: 16.666666666666664%;
}

.classic-navbar {
	height: 60px;
	font-family: 'amatic' !important;
}

#logo {
	height: 45px;
	width: 137px;
	background-image: url(img/logo.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 5px;
}

#logo, .center {
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}
.full {	
}

h6.title, h5.title, h4.title, h3.title, h2.title, h1.title {
	text-align: center;
	margin-top: 0px;
	color: #000000!important;
}

a {
	color: #000000 !important;
}

/***************************
   ICON
***************************/
[class*="basic-icon-"] {
	color: #000000;
	margin: 0 auto !important;
}


/***************************
   PAGE
***************************/
.active {
	display: block;
}

.inactive {
	display: none;
}

/***************************
   BUTTON
***************************/
.btn-basic, .btn-page {
	text-shadow: none !important;
}

.next > .btn-page, .previous > .btn-page {	
	margin: 5px;
}

/****************************
	OFFLINE
****************************/
.offline{
	position: fixed;
	display:block;
	top: 60px;
	right:0px; 
	left: 0px;
	background-color: #19a6d4;
	text-align: center;
	color:white;
}