{% extends '::root.html.twig' %}

{% block title %}Keosu password recovery success{% endblock %}

{% block skeleton %}
<div class="alert alert-success">
	You successfully reset your password. You can now log in with your new password.
</div>
{% endblock %}
