{% for content in contents %}
    <div class="sidebarlink">
        <a class="sous-menu" href="{{ path('keosu_'~content["name"]~'_viewlist') }}">
            <div class="lien-menu">
                <span class='glyphicon glyphicon-{{ icon[content["name"]][1] }} icon-menu'></span><span
                        class="texte-lien-menu">{{ content["label"] }}</span>
            </div>
        </a>
    </div>
{% endfor %}
