{% for page in pages %}
	<div class="sidebarlink">
		<a class="sous-menu" href="{{ path('keosu_core_views_page',{'id':page.id}) }}">
			<div class="lien-menu">
				<span class="glyphicon glyphicon-edit icon-menu"></span><span class="texte-lien-menu"> {{ page.name }}</span>
			</div>
		</a>
	</div>
{% endfor %}