/***************************
   MENU
***************************/
.icons-menu {
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block !important;
}

.classic-menu >.menu {
	width: 100% !important;
	padding: 0 15px;
}
/*.classic-menu >.menu >.menu-elements {
	font-size: 24px;
}*/

.classic-menu>.menu>.menu-elements>a {
	float: left;
	position: relative;
	min-height: 1px;
    padding: 5px 15px;
	width: 20%;
}

.menu>.menu-elements>a>img {
	width: 30px;
    display: inline !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

/*.menu>.menu-elements>a>img.active {
	background-color: #FA6900;
}*/

@media screen and (min-height: 400px) {
	.menu>.menu-elements>a>img {
		width: 30px;
	}
}

@media screen and (min-height: 600px) {
	.menu>.menu-elements>a>img {
		width: 35px;
	}
}

@media screen and (min-height: 800px) {
	.menu>.menu-elements>a>img {
		width: 40px;
	}
}

@media screen and (min-height: 1000px) {
	.menu>.menu-elements>a>img {
		width: 45px;
	}
}

.vertical-footer {
	 position: fixed !important;
	 height: 100%;
	 top: 0;
   	 max-width: 55px;
}

