/***************************
   MENU
***************************/
.icons-menu {
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block !important;
}

.classic-menu >.menu {
	width: 100% !important;
	padding: 0 15px;
}
/*.classic-menu >.menu >.menu-elements {
	font-size: 24px;
}*/

.classic-menu>.menu>.menu-elements>a {
	float: left;
	position: relative;
	min-height: 1px;
    padding: 5px 15px;
	width: 20%;
}

.menu>.menu-elements>a>img {
	width: 30px;
    display: inline !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

/*.menu>.menu-elements>a>img.active {
	background-color: #FA6900;
}*/

@media screen and (min-height: 400px) {
	.menu>.menu-elements>a>img {
		width: 30px;
	}
}

@media screen and (min-height: 600px) {
	.menu>.menu-elements>a>img {
		width: 35px;
	}
}

@media screen and (min-height: 800px) {
	.menu>.menu-elements>a>img {
		width: 40px;
	}
}

@media screen and (min-height: 1000px) {
	.menu>.menu-elements>a>img {
		width: 45px;
	}
}

.vertical-menu, .slide-menu {
	height: 100%;
	position: fixed !important;
	top: 0;
}

.vertical-menu >.menu >.menu-elements, .slide-menu >.zone >.menu >.menu-elements {
    height: 16.66666666666668%;
    padding-top:10px;
}

.slide-menu >.zone >.menu >.menu-elements >.icons-menu {
	padding-left: 10px;
}
/*
.slide-menu, .slide-img {
	z-index: 1029;
	position: fixed;
	
	-webkit-transition: all 500ms ;
    -moz-transition: all 500ms ;
    -ms-transition: all 500ms ;
    -o-transition: all 500ms ;
    transition: all 500ms ;	
}*/

.slide-menu {
	top: 0px;
    left: -42px;
    height:100%;
    width: 55px;
    margin-right: 20px;
    background:transparent;
}

.slide-menu.open{
  left:0;
  height: 100%;
  background: #ecf0f1;;
  
}

.slide-img {
    bottom: 0px;
    left: -34px !important;
    padding: 0 !important;
}

.slide-img.open {
	margin-left: 13px;
}

.vertical-footer {
	 position: fixed !important;
	 height: 100%;
	 top: 0;
   	 max-width: 55px;
}

.slide-content, .content-right, .content-left {
	margin-top: 5px;
}
