{% extends '::root.html.twig' %}

{% block title %}Keosu Check configuration{% endblock %}

{% block skeleton %}
	<div class="col-md-2"></div>
	<div class="wellcustom col-md-8">
		<h1>Checking your installation</h1>
		{% if isPhpVersion %}
			<p class="alert alert-success">
				Php version installed : {{ phpversion }}
			</p>
		{% else %}
			<p class="alert alert-danger">
				Php version installed : {{ phpversion }}<br/>
				Upgrade to php 5.3.0 or upper to use Keosu
			</p>
		
		{% endif %}
		
		{% if isCurl %}
			<p class="alert alert-success">
				CURL is installed
			</p>
		{% else %}
			<p class="alert alert-danger">
				Activate CURL to your PHP installation
			</p>
		{% endif %}
		{% if isJson %}
			<p class="alert alert-success">
				JSON is installed
			</p>
		{% else %}
			<p class="alert alert-danger">
				Activate JSON to your PHP installation
			</p>
		{% endif %}

		{% if isCtype %}
			<p class="alert alert-success">
				CTYPE is installed
			</p>
		{% else %}
			<p class="alert alert-danger">
				Activate CTYPE to your PHP installation
			</p>
		{% endif %}
		
		{% if isTimeZone %}
			<p class="alert alert-success">
				TimeZone is set
			</p>
		{% else %}
			<p class="alert alert-danger">
				Set your date.timezone property in your php.ini file <br/>
				For exemple: <br/>
				date.timezone = "Europe/Paris"
			</p>
		{% endif %}
		
		{% if isPhpVersion and isCurl and isJson and isCtype and isTimeZone%}
			<a href="{{ path('keosu_core_install_configure') }}" style="float:right" type="button" class="btn btn-success">
				Next : configure
			</a>
		
		{% endif %}
	
	</div>
	<div class="col-md-2"></div>


{% endblock %}