{# Keosu is an open source CMS for mobile app Copyright (C) 2014
Vincent Le Borgne, Pockeit This program is free software: you can
redistribute it and/or modify it under the terms of the GNU Affero
General Public License as published by the Free Software Foundation,
either version 3 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero
General Public License for more details. You should have received a copy
of the GNU Affero General Public License along with this program. If
not, see <http://www.gnu.org/licenses/>. #}

{% extends 'KeosuCoreBundle:MainViews:configuration.html.twig' %} {% block body %}

	<div class="panel">
		<div class="row">
			{% if msg != null %}
				<div class="alert alert-success">{{ msg }}</div>
			{% endif %}
			<div class="col-md-12">
				<div class="wellcustom">
					<fieldset>
						<legend><span class="glyphicon glyphicon-tint icon-menu"></span>{% trans %}Themes{% endtrans %}</legend>
						<p>{% trans %}Upload themes and page templates archive file.{% endtrans %}</p>
						<a class="btn btn-success"
						   href="{{ path('keosu_core_theme_manage_add') }}"><span class="glyphicon glyphicon-plus-sign icon-btn"></span>{% trans %}Add new Theme{% endtrans %}</a>
						<a target="_blank" class="btn btn-store"
						   href="http://store.keosu.com/index.php?id_category=12&controller=category&utm_source=keosu&utm_medium=cms&utm_term=theme%20store&utm_campaign=keosu%20cms%20to%20store"><span class="glyphicon glyphicon-shopping-cart icon-btn"></span>{% trans %}Theme Store{% endtrans %}</a>
						<br class="clear" /> <br class="clear" />
						<table class="table table-striped table-hover">
							<thead>
							<tr>
								<th>{% trans %}Theme name{% endtrans %}</th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							{% for theme in themes %}
								<tr>
									<td>{{ theme.name }}</td>
									<td></td>
								</tr>
							{% endfor %}
							</tbody>
							<tfoot>
							<tr>
								<th>{% trans %}Theme name{% endtrans %}</th>
								<th></th>
							</tr>
							</tfoot>
						</table>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

