<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="format-detection" content="telephone=yes" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0" />


<script type="text/javascript" src="cordova.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/jquery-1.8.2.min.js"></script>
<script src="js/app.js"></script>
<script src="js/angular-sanitize.min.js"></script>
<script src="js/angular-chrono.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
<script src="js/angular-touch.js"></script>
<script src="js/angular-route.js"></script>



   