<!DOCTYPE html>
<html ng-app="keosuApp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="format-detection" content="telephone=yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0" />

	<script type="text/javascript" src="cordova.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/angular-sanitize.min.js"></script>
	<script src="js/angular-chrono.js"></script>
	<script src="js/angular-touch.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/spin.js"></script>
	<script src="js/angular-spinner.js"></script>
	<script src="js/angular-inview.js"></script>
	<script src="js/utilString.js"></script>
</head>
	<body ng-controller="main_Controller">
		<div ng-view></div>
	</body>
</html>
