<!DOCTYPE html>
<html ng-app="keosuApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="format-detection" content="telephone=yes" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0" />
		<script type="text/javascript" src="cordova.js"></script>
	</head>
	<body ng-controller="main_Controller">
		<!-- To enable keosu push -->
		<keosu-push></keosu-push>
		<!-- to enable spinner -->
		<span
		us-spinner="{lines: 17, length: 0, width: 2, radius: 10, corners: 1, rotate: 0, direction: 1, color: '#FFFFFF', speed: 1, trail: 60, shadow: false, hwaccel: false, className: 'spinner', zIndex: 1030}"
		spinner-key="spinner"></span>
		<div ng-view></div>
	</body>
</html>
